.Section1{
    display: flex;
    justify-content: space-between;
    height: 60vh;
    width: 100%;
    align-items: center;
   
   
}
.column{
    display: flex;
    flex-direction: column;
   margin-left: 60px;
  
}

.Section4 {
    background-color: #EEF4FA;
}
.Section1 p{padding-top: 20px;
    color: #000;
    width: 80%;
}
.Section1 h2{color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 74px; }
.Section1 h6{color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; }
.Section1 img{
    width: 100%;
    height: 100%;
   
}
.image{
   
   width: 100%;
  
}

@media screen and  (max-width:1200px){

}
@media screen and (max-width:1200px){
   
    .Section1 h2{
        text-align: left;
    }
    .column{margin-left: 0;}
}
@media screen and (max-width:993px) {
   .image{display: none;}
   .Section1{
  text-align: center;
  justify-content: center;
   }
   .Section1 div{
    align-items: center;
   }
  .Section1 h2{
    text-align: center;
   }
}
@media screen and (max-width:768px){

}

 @media screen and (max-width:570px){
  
            }