.swiper-button-prev{
   justify-content: end;
   left: 560px;
}
.swiper-button-prev, .swiper-button-next{
    margin-top: 0;
}
@media screen and  (max-width:1200px){
   
 }
 @media screen and (max-width:1200px){
    
    .swiper-button-prev{
        justify-content: end;
        left: 460px;
     }
         
 }
 @media screen and (max-width:993px)  {
    .swiper-button-prev{
        justify-content: end;
        left: 600px;
     }
 }
 @media screen and (max-width:768px){
    .swiper-button-prev{
        justify-content: end;
        left: 420px;
     }
 }
 
  @media screen and (max-width:570px){
    .swiper-button-prev{
        justify-content: end;
        left: 410px;
    
     }
 }
 @media screen and (max-width:520px){
    .swiper-button-prev{
        justify-content: end;
        left: 380px;
       
     }
 }
 @media screen and (max-width:500px){
    .swiper-button-prev{
        justify-content: end;
        left: 340px;
      
     }
 }
 @media screen and (max-width:430px){
    .swiper-button-prev{
        justify-content: end;
        left: 270px;
      
     }
 }    