
*{box-sizing: border-box;
    margin: 0;padding: 0;
   

}.Button{color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.Button svg{box-sizing: border-box;
margin-left: 10px;}